<!DOCTYPE html>
<html>
<head>
  <title>Fetch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<% if user_signed_in? %>
  <header>
    <h1 class="main_logo"><%= link_to 'fetch', root_path %></h1>
    <nav class="user_info">
      <ul>
        <li>Signed in as <%= current_user.email %></li>
        <li class="separator">|</li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </header>
<% end %>

<%= yield %>

</body>
</html>
